{% extends 'portfolio/base.html' %}

{% block title %}About | Makeup Artist{% endblock %}

{% block content %}
<h2>About Me</h2>
<p>I am a professional makeup artist with 3+ years of experience in bridal, fashion, and editorial makeup.
I have worked with various clients, enhancing their beauty for special occasions and photoshoots. My passion for makeup started at a young age, and I have honed my skills through training and practice.</p>
<p>I believe that makeup is not just about looking good, but also about feeling confident and empowered. I strive to create looks that reflect my clients' personalities and make them feel their best.</p>
</p>
{% endblock %}
